<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript">
window.onload = function() {
    var status;
    
    function position(){
       console.log('start GPS');
       status = document.getElementById("yourposition");
       status.innerHTML = "Get your location...";
       
        if(navigator.geolocation){
            console.log('get position');
            navigator.geolocation.getCurrentPosition(success, error);
            
        } else{
            alert("Sorry, your browser is not compatible");
        }
    };
    
   
    function success(position){
        console.log(position.coords.latitude + ',' + position.coords.longitude);
        status.innerHTML = position.coords.latitude + "," + position.coords.longitude;

          //save it to the database
        
            $.ajax({
            type: 'POST',
           
            url: 'https://parse.armadius.com:7000/tracker/position',
            data: { 
                'latitude': position.coords.latitude, 
                'longitude': position.coords.longitude
            },
            success: function(msg){
                console.log(msg);
            }
            });
          // end save to database

          //display it to the table, I know this is not eficient, but lets try.
          $.ajax({
            url: "https://parse.armadius.com:7000/tracker/position",
            dataType: 'json',
            type: 'get',
            success: function(data){
                table = document.getElementById("table");
                table.innerHTML = "";
                              
                var db_data = '';
                $.each(data, function(index, value){
                    db_data += '<tr>';
                    db_data += '<td>'+value.latitude+','+ value.longitude + '</td>';
                    db_data += '<td>'+value.time+'</td>';
                    db_data += '</tr>';
                });
                $("#table").append(db_data);
            },
            error: function(e){
                /*console.log(e);*/
               
            }
        });

          //end display table
   

    }
    
    
    function error(error){
        if(error.code == 1){
            status.innerHTML = "Permission denied. Please allow us to track your position";
        } else if(error.code == 2){
            status.innerHTML = "Something wrong with your GPS.";
        } else if(error.code == 3){
            status.innerHTML = "Timeout.";
        } else{
            status.innerHTML = "Unknown error.";
        }
    }

    //lets start;
    position();
    window.setInterval(function(){
     position();
    }, 10000); 
}   
</script>
<body>
    <div style="padding-left:20px">
<p>&nbsp;</p> 
<p>This app will track your position every 10 seconds. <br/>You may try access this site from your Phone, and start moving. <br/>Your movement will be saved on the table below.</p>

<p>Your current position: </p><div id="yourposition">Please Wait...</div>
<p>&nbsp;</p>
<table class="pure-table  pure-table-bordered">
  <thead>
<tr>
<th>Latitude & Longitude</th>   
<th>Tracked Time</th>  
</tr>
  </thead>
<tbody id="table">  

</tbody>
</table>
</div>
</body>